# Ignore Gradle build files
.gradle/
build/
out/
!build/libs/

# Ignore dependency caches
**/build/
**/out/
**/*.log
**/*.lock
!gradle/wrapper/gradle-wrapper.jar

# Ignore IDE-specific files
*.iml
.idea/
.vscode/
.project
.classpath

# Ignore other system files
.DS_Store
*.class
*.jar
*.war
*.ear

# Ignore temporary files
tmp/
temp/
*.swp
*.swo
*.swn